.form-control {
    display: flex;
    flex-direction: column;


    &:hover,
    &:focus-within {
        color: var(--color-font-accent);
    }

    label {
        font-size: 0.7rem;
        line-height: 1.2;
        font-weight: 600;
    }

    input,
    textarea,
    select {
        padding: 0.3em 0.4em;
        border-radius: 0.25em;
        border: 1px solid currentColor;
        outline-color: var(--color-primary);
        background: #f5f5f5;
        resize: none;

        @media (prefers-color-scheme: dark) {
            background: #222;

            &:focus-visible {
                outline: 2px solid var(--color-primary);
                outline-offset: -2px;
            }
        }

        .was-validated &:invalid {
            border-color: var(--color-danger);
        }

    }

    .error-message {
        --line-height: 1.2;
        height: calc(var(--line-height) * 1em);
        line-height: var(--line-height);
        font-size: 0.7rem;
        font-weight: 600;
        color: var(--color-danger);
        visibility: hidden;

        .was-validated & {
            visibility: visible;
        }
    }
}

.form-error {
    --flow-spacing: 0.5em;
}

#toaster {
    --gutter: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    pointer-events: none;
}

.toast {
    padding: 0.5em 1em;
    animation: fade-out var(--duration) linear(0 50%, 1);

    &--success {
        background: var(--color-success);
        background: hsl(133deg 44% 41% / 0.7);
        color: var(--color-font-body-dark);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}