.flow>*+* {
    margin-block-start: var(--flow-spacing, 1em);
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);

    &--end {
        flex-direction: row-reverse;
    }

    &--distribute {
        justify-content: space-between;
    }
}


.stack {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.sidebar {
    display: grid;
    grid-template-columns: auto 1fr;
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: var(--gutter);
}