:root {
    --color-primary: #ef9f9f;
    --color-secondary: #f4d9be;
    --color-accent: #c42173;

    --color-surface-values: 0deg 0% 93%;
    --color-surface: hsl(var(--color-surface-values));
    --color-danger: hsl(0deg 70% 50%);

    --color-font-body-light: #444;
    --color-font-body-dark: #ddd;
    --color-font-body: var(--color-font-body-light);

    --color-font-accent-light: black;
    --color-font-accent-dark: white;
    --color-font-accent: var(--color-font-accent-light);

    --color-font-link: var(--color-primary);

    --gutter: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-font-body: var(--color-font-body-dark);
        --color-font-accent: var(--color-font-accent-dark);

        --color-surface-values: 0deg 0% 20%;
    }
}

html,
body {
    height: 100%;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.6;
    color-scheme: light dark;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-font-body);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

header {
    grid-column: span 2;
    background: var(--color-surface);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    letter-spacing: -0.1rem;
    color: var(--color-font-accent);
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-primary);
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

button {
    border: none;
    background: var(--color-primary);
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    border-radius: 0.25em;

    &.btn--link {
        background: none;
        color: var(--color-primary);
        padding: 0;
        text-transform: none;
        letter-spacing: 0;
        font-weight: 400;

        &:hover {
            text-decoration: underline;
        }
    }
}

a {
    color: var(--color-font-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}