.sprint-board {
    flex: 1;

    .columns {
        flex: 1;
    }

    .column {
        ul {
            flex: 1 1 0;
            overflow: auto;

            li {
                border-radius: 0.25em;
            }

            .show-drop-zones & {
                outline: 2px dashed var(--color-primary);
            }
        }
    }
}